<h1><%= @department.name %></h1>

<h2>Items in this Department</h2>
<ul>
  <% @department.items.each do |item| %>
    <li><%= link_to item.name, item_path(item) %></li>
  <% end %>
</ul>

<%= link_to 'Add New Item', new_item_path %>
