<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Inventory Management demo</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">

<style>
    .navbar-olive {
      background-color: #556B2F; /* Olive green color */
      padding-top: 20px; /* Increase top padding */
      padding-bottom: 20px; /* Increase bottom padding */
    }
    
    .navbar-olive .navbar-brand {
      color: white; /* Text color */
      font-size: 24px; /* Larger font size */
    }

    .footer{
      position: fixed;
      height: 100px;
      bottom: 0;
      width: 100%
    }
  </style>
  </head>

  <body>
  <nav class="nnavbar navbar-expand-lg navbar-olive">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h5">Inventory Management Center</span>
  </div>
</nav>
  <h1>New item</h1>

  <%= render "form", item: @item %>
  
  <br>
  
  <div>
    <%= link_to "Back to items", items_path %>
  </div>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>

  </body>

  <footer class="footer bg-dark text-white text-center">
  <div class="container p-4">
    <span class="text-muted">© <%= Time.now.year %> True Nectar Coffee</span>
  </div>
</footer>
</html>